<%-include ('../layouts/header')-%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Management Subject
        </h1>
    </section>

<!-- Main content -->
<main class="main-container container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="content-panel">
                    <form class="form-horizontal" method="POST">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Create a New Subject</h3>
                            <%if(data.err){%>
                            <div class="col-md-3 col-sm-3 col-xs-12 alert alert-danger"><%=data.err%></div>
                            <%}%>
                            <input type="hidden" name="faculty_id" value="<%=data.faculty%>">
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Subject ID</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="" name="subject_id">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Subject Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="" name="subject_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">Subject Description</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <textarea class="form-control" name="subject_des" placeholder="Subject Description"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Create">
                                <a class="btn btn-secondary" href="/staff/Faculty/<%=data.faculty%>/Subject">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%-include ('../layouts/footer')-%>