<%-include ('../layouts/header')-%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Management Subject
        </h1>
    </section>

<!-- Main content -->
<section class="content">
    <h1>Subjects</h1>
    <a href="/staff/Faculty/<%=data.faculty%>/Subject/Create" class="btn btn-primary">
       <i class="fa fa-plus"></i> Create New Subject
    </a>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Subject ID</th>
                <th>Subject Name</th>
                <th>Subject Description</th>
                <th>Create at</th>
                <th>Update at</th>
                <th></th>
            </tr>
            <tr>
                <%for(x in data.subject){%>
                <td>
                    <%=data.subject[x].Subject_ID%>
                </td>
                <td>
                    <%=data.subject[x].Subject_name%>
                </td>
                <td>
                    <%=data.subject[x].Subject_des%>
                </td>
                <td>
                    <%=data.subject[x].Create_at%>
                </td>
                <td>
                    <%=data.subject[x].Update_at%>
                </td>
                <td>
                    <a href="/Faculty/subject/class/<%=data.subject[x]._id%>" title="Detail">
                        Class
                        <i class="fa fa-eye"></i>
                    </a> &nbsp;
                    <a href="/staff/Subject/Update/<%=data.subject[x]._id%>" title="Update">
                        Update
                        <i class="fa fa-pencil"></i>
                    </a> &nbsp;
                    <a href="/staff/Faculty/<%=data.faculty%>/Subject/<%=data.subject[x]._id%>/Delete" title="Delete" onclick="return confirm('Are you sure delete?')">
                        Delete
                        <i class="fa fa-trash"></i>
                        </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%-include ('../layouts/footer')-%>