 <%-include ('../layouts/header.ejs')-%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Faculty Management
        </h1>
    </section>

<!-- Main content -->
<section class="content">
    <h1>Faculties</h1>
    <a href="/staff/Faculty/Create" class="btn btn-primary">
       <i class="fa fa-plus"></i> Create Faculty
    </a>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Faculty name</th>
                <th>Faculty des</th>
                <th></th>
            </tr>
            <tr>
                <%for(x in data.faculty){%>
                <td>
                    <%=data.faculty[x].Faculty_name%>
                </td>
                <td>
                    <%=data.faculty[x].Faculty_des%>
                </td>
                <td>
                    <a href="/staff/Faculty/Subject/<%=data.faculty[x]._id%>" title="Subject">
                        Subject
                        <i class="fa fa-eye"></i>
                    </a> &nbsp;
                    <a href="/staff/Faculty/Update/<%=data.faculty[x]._id%>" title="Update">
                        Update
                        <i class="fa fa-pencil"></i>
                    </a> &nbsp;
                    <a href="/staff/Faculty/Delete/<%=data.faculty[x]._id%>" title="Delete" onclick="return confirm('Are you sure delete?')">
                        Delete
                        <i class="fa fa-trash"></i>
                        </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%-include ('../layouts/footer.ejs')-%>