<%-include ('../layouts/header.ejs')-%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Class Management
        </h1>
    </section>

<!-- Main content -->
<section class="content">
    <h1>Class</h1>
    <a href="/staff/Faculty/Subject/<%=data.subject%>/Class/Create" class="btn btn-primary">
       <i class="fa fa-plus"></i> Create New Class
    </a>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Class ID</th>
                <th>Class Name</th>
                <th>Created_at</th>
                <th>Updated at</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <%for(x in data.class){%>
                <td>
                    <%=data.class[x].Class_ID%>
                </td>
                <td>
                    <%=data.class[x].Class_name%>
                </td>
                <td>
                    <%=data.class[x].Create_at%>
                </td>
                <td>
                    <%=data.class[x].Update_at%>
                </td>
                <td>
                    <a href="/staff/Faculty/Subject/<%=data.subject%>/Class/<%=data.class[x]._id%>/Exercise" title="ViewExercise">
                        <i class="fa fa-eye"> View Exercise</i>
                    </a>
                    <a href="/staff/Faculty/Subject/<%=data.subject%>/Class/<%=data.class[x]._id%>/Detail" title="Detail">
                        <i class="fa fa-eye">Detail</i>
                    </a> &nbsp;
                    <a href="/staff/Faculty/Subject/<%=data.subject%>/Class/<%=data.class[x]._id%>/Update" title="Update">
                        <i class="fa fa-pencil">Update</i>
                    </a> &nbsp;
                    <a href="/staff/Faculty/Subject/<%=data.subject%>/Class/<%=data.class[x]._id%>/Delete" title="Delete" onclick="return confirm('Are you sure delete?')">
                        <i class="fa fa-trash">Delete</i>
                    </a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%-include ('../layouts/footer.ejs')-%>